---
import MainLayout from "@layout/MainLayout.astro";
import { getCollection } from "astro:content";
const allPapers = await getCollection("papers");
const projects = await getCollection("project");
---

<MainLayout>
  <h1>Papers</h1>

  <!-- have a button POST a click via AJAX -->
  <button hx-post="/clicked/" hx-swap="outerHTML"> Click Me</button>
  <h1>Papers</h1>
  {allPapers.map((paper) => <div>{paper.data.key}</div>)}

  <h1>Projects</h1>
  {projects.map((pr) => <div>{pr.data.title}</div>)}
</MainLayout>
