---
import Paper from "@components/Paper.astro";
import Project from "@components/Project.astro";
import MainLayout from "@layout/MainLayout.astro";
import { getCollection } from "astro:content";
const allPapers = await getCollection("papers");
const projects = await getCollection("project");
---

<MainLayout>
  <!-- have a button POST a click via AJAX -->
  <!-- <button hx-post="/clicked/" hx-swap="outerHTML"> Click Me</button> -->
  <div class="flex flex-col m-auto gap-4 mb-5">
    <h1 class="text-4xl font-extrabold dark:text-white">Papers</h1>
    {allPapers.map((paper) => <Paper paper={paper} />)}
  </div>
  <hr />
  <div class="flex flex-col m-auto gap-4 mb-5">
    <h1 class="text-4xl font-extrabold dark:text-white">Projects</h1>
    {projects.map((pr) => <Project project={pr} />)}
  </div>
</MainLayout>
