---
import { ClientRouter } from "astro:transitions";

import MainLayout from "@layout/MainLayout.astro";
import Course from "@components/Course.astro";
import { getCollection, getEntry } from "astro:content";
const courses = await getCollection("course");
const courses_with_terms = await Promise.all(
  courses.map(async (v) => {
    const d = v.data;
    const term = await getEntry("term", d["term._ref"].id);
    return {
      ...v,
      data: d,
      term: { ...term, order: term?.data.term_num || 999 },
    };
  })
);
---

<head>
  <ClientRouter />
</head>

<MainLayout>
  <div class="flex flex-col md:w-full m-auto">
    <h1 class="text-4xl font-extrabold dark:text-white">Courses Taught</h1>
    <div class="mt-5 m-auto w-full grid grid-cols-2 md:grid-cols-3 gap-2">
      {
        courses_with_terms
          .sort((a, b) => (a.term.order >= b.term.order ? -1 : 1))
          .map((v) => <Course course={v} />)
      }
    </div>
  </div>
</MainLayout>
