<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dr. Mohammed Alshahrani</title>
  </head>
  <body>
    <div class="bg-white">
      <header class="absolute inset-x-0 top-0 z-50">
        <nav
          class="flex items-center justify-between p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Dr. Mohammed Alshahrani</span>
              <img
                class="h-8 w-auto rounded-full"
                src="https://www.dropbox.com/scl/fi/nby5aqb8lmq6b6tryczur/me__400x400.jpg?rlkey=3hzn35mh0igrerutnzqtx5fe8&raw=1"
                alt=""
              />
            </a>
          </div>

          <div class="flex gap-2 lg:flex lg:gap-x-12">
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
              >Product</a
            >
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
              >Features</a
            >
            <a
              href="/research/"
              class="text-sm font-semibold leading-6 text-gray-900">Research</a
            >
            <a
              href="/about/"
              class="text-sm font-semibold leading-6 text-gray-900">About</a
            >
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
      </header>
      <div class="relative isolate px-6 pt-14 lg:px-8">
        <main class="flex flex-col mt-9">
          <slot />
        </main>
      </div>
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </body>
</html>
